<div class="container mt-5 mb-5" >
  <div class="row">
    <div class="col-md-12">
      <ng-select [(ngModel)]="selectedCar" [selectOnTab]="true" appearance="underline">
        <ng-option *ngFor="let car of cars" [value]="car.sutudData.data.id">{{car.sutudData.data.name}}</ng-option>
    </ng-select>
    </div>
   
    </div>
  </div>


<div class="jumbotron">
  <a href="https://www.npmjs.com/package/@ng-select/ng-select" target="_blank" class="text-decoration-underline">For Complete Info</a>
  <br /><hr /><br />
  <strong>NOTE: If you are facing any problem please have a look on version and install a compatible version of dropdown
     according to your project version using "<i>npm install --save @ng-select/ng-select@version</i>"</strong>
</div>
